body {
    overflow-x: hidden;
    background: url("../images/city_desktop.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#white-background {
    overflow-x: hidden;
    background: white; 
}

h3 {
    font-size:20px;
    text-align: center;
    color: #888888;
}

.modal-body {
    height: 100%;
}
#image-info{
    width:40%;
}
.offset{
    height:140px;
}
#menuChart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

#loaderLayer {
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    filter: drop-shadow( 1px 1px 2px black);
    z-index: 1;
}

#loaderLayer2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    filter: drop-shadow( 1px 1px 2px black);
    z-index: 1;
    height: 300px;
    width: 500px;
}

#quote-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;
    padding: 25px;
    animation-name: dropIn;
    animation-duration: 2s;
}

#start-menu {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;
    animation-name: dropIn;
    animation-duration: 2s;
}

p {
    text-align: center;
    float: center;
}

.center-text {
    position: absolute;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay {
    z-index: 9999999;
    position: absolute;
}

.LA-loop {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
}

.LA-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 4;
}

#loading {
    font-size: 80px;
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#search-box {
    position: relative;
    width: 90%;
    margin: 2% auto;
}

#search-form {
    height: 40px;
    border: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}

#search-text {
    font-size: 14px;
    color: #ddd;
    border-width: 0;
    background: transparent;
}

#search-box input[type="text"] {
    width: 90%;
    padding: 8px 0 11px 1em;
    color: #333;
    outline: none;
}

#search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 80px;
    font-size: 14px;
    color: black;
    text-align: center;
    line-height: 42px;
    border-width: 0;
    background-color: #03c4c9;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

#image-container {
    margin-top:170px;
}

.custom-alert {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 150px;
    width: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#confirm-button {
    height: 40px;
    width: 80px;
    font-size: 15px;
    color: white;
    text-align: center;
    line-height: 42px;
    border-width: 0;
    background-color: #03c4c9;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

@-webkit-keyframes fadeOut{
  from{
  	opacity: 1;
  } 
  to{
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn{
  from{
  	opacity: 0;
  } 
  to{
    opacity: 1;
  }
}

@keyframes fadeOut{
  from{
  	opacity: 1;
  } 
  to{
    opacity: 0;
  }
}
    
@keyframes fadeIn{
  from{
  	opacity: 0;
  } 
  to{
    opacity: 1;
  }
}


@-webkit-keyframes dropIn{
  from{
    opacity: 0;
  	margin-bottom: -20px;
  } 
  to{
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes dropIn{
  from{
    opacity: 0;
  	margin-bottom: -20px;
  } 
  to{
    opacity: 1;
    margin-top: 0;
  }
}